html{
    height: 90%;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#b4c8dd,#d5e0ea);
}

.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

form{
    width: 40%;
    height: 50%;
}

input, select, label, input[type=button]{
    display: inline-block;
    font-family: Calibri, sans-serif;
    color: #466bab;
}

#studenti{
    height: 50px;
}

input, select, input[type=button]{
    padding: 0.5%
}

label{
    text-align: right;
    padding: 2%;
}

.formLabel{
    width: 20%;
    font-size: 2em;
}

.listaLabel{
    width: 10%;
    font-size: 3em;
}

.listEl{
    font-family: Calibri, sans-serif;
    color: #466bab;
    font-size: 2em;
    list-style: none;
}


ul.forma{
    list-style: none;
    height: 90%;
    width: 100%;
}

@media (max-width: 600px) {
    form{
        width: 100%;
        height: 90%;
    }
    .formLabel {
        margin-top: 4%;
        text-align: left;
        margin-left: 0;
    }

    input, select{
        margin-right: 60%
    }
    #predmeti, #aktivnosti, .listaLabel{
        display: none;
    }
}
